<div class="header__wrapper">
  <div class="container">
    <div>
      <div class="header__brand c-pointer" routerLink="/">
        <!-- [local] -->
        <img [src]="storeLogo" alt="Brand Logo" />
        <!-- <img
              [src]="storeLogo ? storeLogo?.url : 'https://images.unsplash.com/photo-1599305445671-ac291c95aaa9?w=200&h=60&fit=crop&crop=center'"
              alt="Brand Logo"
            /> -->
      </div>
      <!-- <div class="header__search desktop-only">
        <img src="assets/icons/search.png" alt="Search Icon" />
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchText"
          (keydown.enter)="searchProducts($event)"
        />
      </div> -->
      <div class="header__action">
        <div class="header__action--item c-pointer bag" routerLink="/cart">
          <img src="assets/icons/bag.png" alt="Bag icon" />
          Bag
          <span>{{ cartItemCount || 0 }}</span>
        </div>
        <div class="header__action--item c-pointer">
          <img src="assets/icons/heart.png" alt="Heart Icon" />
          Wishlist
        </div>
        <!-- Toggle the quickLoginEnabled flag in the utils/configs.ts to swith betwene Quick login model, or full page login mode -->
        <!-- BEGINS: Login From New Page -->
        <div
          class="header__action--item c-pointer"
          routerLink="/auth/login"
          *ngIf="!isLogin && !quickLoginEnabled"
        >
          <img src="assets/icons/user.png" alt="User Icon" />
          <span>Sign in</span>
        </div>
        <!-- ENDS: Login From New Page -->

        <!-- BEGINS: Quick Login From Popup -->
        <div
          class="header__action--item c-pointer"
          *ngIf="!isLogin && quickLoginEnabled"
          (click)="onQuickLogin()"
        >
          <img src="assets/icons/user.png" alt="User Icon" />
          <span>Quick Login</span>
          <!-- <span>Sign in</span> -->
        </div>
        <!-- ENDS: Quick Login From Popup -->
        <div class="header__action--item header__search--wrapper">
          <div class="header__search">
            <img src="assets/icons/search.png" alt="Search Icon" />
            <input
              type="search"
              class="form-control"
              placeholder="Search"
              class="form-control"
              placeholder="Search products..."
              [(ngModel)]="searchText"
              (keydown.enter)="searchProducts($event)"
            />
            <!-- BEGINS:: Categories Dropdown -->
            <div ngbDropdown class="d-inline-block">
              <div class="header__action--item c-pointer" ngbDropdownToggle>
                <span>
                  {{ selectedCategory.name }} </span>
              </div>

              <div class="categories__wrapper" ngbDropdownMenu>
                <!-- All Categories option -->
                <button ngbDropdownItem (click)="onCategoryChange({
                  name: 'All Categories',
                  productCategoryId: null
                })" [class.active]="selectedCategory.productCategoryId === null">
                  All Categories
                </button>

                <!-- Dynamic categories -->
                <button *ngFor="let categoryItem of categories" ngbDropdownItem
                  (click)="onCategoryChange(categoryItem)" 
                  [class.active]="selectedCategory.productCategoryId === categoryItem.productCategoryId">
                  {{ categoryItem.categoryName
                  ? categoryItem.categoryName
                  : categoryItem.description
                  ? categoryItem.description
                  : categoryItem?.productCategoryId }}
                </button>
              </div>
            </div>
            <!-- ENDS:: Categories Dropdown -->
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <div
            class="header__action--item c-pointer"
            *ngIf="isLogin"
            ngbDropdownToggle
          >
            <img src="assets/icons/user.png" alt="User Icon" />
            <span>{{ userFirstName }}</span>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/account/profile/settings">
              My Profile
            </button>
            <button
              ngbDropdownItem
              routerLink="/manage-store/settings/theme"
              *ngIf="userType === 'admin'"
            >
              Manage Store
            </button>
            <button ngbDropdownItem (click)="onLogout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-only">
      <div class="header__search">
        <img src="assets/icons/search.png" alt="Search Icon" />
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          (keydown.enter)="searchProducts($event)"
        />
      </div>
    </div>
  </div>
</div>
