<div class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__brand c-pointer">
          <img
            title="companyName"
            [src]="storeLogo || 'assets/images/logo-dark.png'"
            [alt]="companyName"
          />
          <!-- <img
                [src]="storeLogo ? storeLogo?.url : 'assets/images/logo-dark.png'"
                alt="Brand Logo"
              /> -->
        </div>
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/map.png" alt="Map Icon" />
          </div>
          <div class="footer__info--text" *ngIf="companyAddress">
            <div>
              {{ companyAddress?.address1 }}, {{ companyAddress?.address2 }}
            </div>
            <div>
              {{ companyAddress?.city }}, {{ companyAddress?.countryGeoId }},
              {{ companyAddress?.postalCode }}
            </div>
          </div>
          <div class="footer__info--text" *ngIf="!companyAddress">
            <div>Company Address Goes Here</div>
          </div>
        </div>
        <!-- <div class="footer__info">
              <div class="footer__info--icon">
                <img src="assets/icons/map.png" alt="Map Icon" />
              </div>
              <div class="footer__info--text">
                <div>3131 Western Ave, Suite 527,</div>
                <div>Seattle, WA 98121</div>
              </div>
            </div> -->
        <div class="footer__info">
          <div class="footer__info--icon">
            <img src="assets/icons/call.png" alt="Call Icon" />
          </div>
          <div class="footer__info--text">
            <div *ngIf="companyContact">
              {{ companyContact?.countryCode }}-{{
                companyContact?.areaCode
              }}-{{ companyContact?.contactNumber }}
            </div>
            <div *ngIf="!companyContact">123-456-7890</div>
            <div>{{ companyEmail ? companyEmail : "company@email.com" }}</div>
          </div>
        </div>
        <div class="footer__social">
          <div class="footer__social--item">
            <img src="assets/icons/facebook.png" alt="Facebook Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/twitter.png" alt="Twitter Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/linkedin.png" alt="LinkedIn Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/dribbble.png" alt="Dribble Icon" />
          </div>
        </div>
      </div>

      <div class="footer__middle">
        <div class="footer__link">
          <div class="footer__link--grp">
            <div class="footer__link--title">Browse Categories</div>
            <div
              class="footer__link--item"
              *ngFor="let item of categories.slice(0, 5); index as i"
              [routerLink]="'/categories/' + item.productCategoryId"
            >
              {{
                item.description
                  ? item.description
                  : item.categoryName
                  ? item.categoryName
                  : item.productCategoryId
              }}
            </div>
          </div>
          <div class="footer__link--grp">
            <div class="footer__link--title">Quick Links</div>

            <div
              class="footer__link--item"
              *ngFor="let item of categories.slice(5, 10); index as i"
              [routerLink]="'/categories/' + item.productCategoryId"
            >
              {{
                item.description
                  ? item.description
                  : item.categoryName
                  ? item.categoryName
                  : item.productCategoryId
              }}
            </div>
          </div>
          <div class="footer__link--grp" *ngIf="bottomCmsData?.length">
            <div class="footer__link--title">Learn More</div>
            <div
              class="footer__link--item"
              *ngFor="let bottomLink of bottomCmsData"
              [routerLink]="'/page/details/' + bottomLink.pageUrl"
            >
              {{ bottomLink.pageTitle | titlecase }}
            </div>
            <!-- <div class="footer__link--item" routerLink="/contact">
                  Contact Us
                </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="footer__right">
      <div class="footer__subscribe">
        <div class="footer__subscribe--title">
          Stay updated with offers and updates
        </div>
        <!-- <div class="footer__subscribe--input" [innerHTML]="iframeHtml"></div> -->
        <div class="footer__subscribe--input" *ngIf="!newsletterData">
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              placeholder="Email address"
            />
            <div class="input-group-append c-pointer">
              <span class="input-group-text">
                <img
                  src="assets/icons/arrow-right-white.png"
                  alt="Arrow Right"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom--left">
        <div class="footer__contact">
          <button class="btn btn-secondary" routerLink="/contact">
            <i class="bi bi-phone mr-2"></i>
            Contact Our Sales Team
          </button>
        </div>
      </div>
      <div class="footer__bottom--middle">
        <div class="footer__static-link">
          <div
            class="footer__static-link--item"
            *ngFor="let footerLink of footerCmsData"
            [routerLink]="'/page/details/' + footerLink.pageUrl"
          >
            {{ footerLink.pageTitle | titlecase }}
          </div>
          <!-- <div class="footer__static-link--item">Terms of use</div>
              <div class="footer__static-link--item">Cookies</div> -->
        </div>
      </div>
      <!-- <div class="footer__bottom--right">
        <div class="footer__social">
          <div class="footer__social--item">
            <img src="assets/icons/facebook.png" alt="Facebook Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/twitter.png" alt="Twitter Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/linkedin.png" alt="LinkedIn Icon" />
          </div>
          <div class="footer__social--item">
            <img src="assets/icons/dribbble.png" alt="Dribble Icon" />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
