<div class="empty">
  <div class="empty__wrapper">
    <div class="empty__icon">
      <i class="bi bi-bag-dash"></i>
    </div>
    <div class="empty__title">Look's like your cart is empty!</div>
    <div class="empty__subtitle">
      Let's add some items in your cart right away!
    </div>
    <div class="empty__action">
      <button
        class="btn btn-primary"
        (click)="onRedirectToHome()"
        routerLinkActive="router-link-active"
      >
        Explore Products
      </button>
    </div>
  </div>
</div>
