<div class="container">
  <app-breadcrumb
    [inactiveElements]="[{ label: 'Home', redirectUrl: '' }]"
    [activeElement]="'FAQs'"
    (redirectUrl)="onRedirection($event)"
  ></app-breadcrumb>

  <div class="page-title__wrapper">
    <div class="page-title__heading">Frequently Asked Questions</div>
  </div>

  <div class="faqs__wrapper">
    <div ngbAccordion [closeOthers]="true">
      <div
        ngbAccordionItem
        *ngFor="let faqItem of faqs; index as i"
        [collapsed]="true"
      >
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            {{ faqItem.question }}
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              {{ faqItem.description }}
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
