@import "../../assets/styles/variables.scss";
.item-card {
  position: relative;
  // background-color: #f5f5f5;
  border-radius: 8px;
  min-height: 348px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.07);
  &:hover {
    .item-card__media {
      transform: scale(1.02);
    }
    .item-card__media--view {
      display: flex;
    }
  }
  &__media {
    position: relative;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    img,
    .shimmer {
      width: 100%;
      height: 240px;
      object-fit: cover;
      border-radius: 4px;
    }
    img {
      object-fit: contain;
    }
    &--more-options {
      color: #666363;
      position: absolute;
      bottom: -8px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 4px;
      font-size: 10px;
      span {
        background-color: #efebeb;
        padding: 2px 8px;
      }
    }
    &--view {
      position: absolute;
      top: 50%;
      width: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      text-align: center;
      span {
        background-color: $color-brand;
        color: #efebeb;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }
  &__tag {
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
    gap: 8px;
    z-index: 1;
    &--item {
      padding: 4px 8px;
      background-color: var(--color-dark);
      color: $color-light;
      border-radius: 8px;
      font-size: 11px;
      &:nth-child(2) {
        background-color: $color-light;
        color: var(--color-dark);
      }
    }
  }
  &__favorite {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: $color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    img {
      width: 16px;
    }
  }
  &__info {
    margin-top: 16px;
    padding: 0 8px;
    &--title {
      font-size: 22px;
      color: var(--color-dark);
      display: inline;
      // -webkit-line-clamp: 1;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-wrap: break-word; /* Important for long words! */
    }
    &--description {
      font-size: 16px;
      font-weight: 600;
      font-weight: 400;
      display: inline;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      margin: 0;
    }
    &--rating {
      display: flex;
      align-items: center;
      gap: 2px;
      & > span {
        font-size: 14px;
        margin-bottom: -3px;
      }
    }
    &--price {
      font-size: 16px;
      margin-top: 8px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2px;
      span {
        font-weight: 400;
        font-size: 14px;
        padding-left: 4px;
        text-decoration: line-through;
      }
    }
    &--footer {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      border-top: 1px solid #e8e8e8;
      margin-top: 8px;
    }
  }
  &__colors {
    display: flex;
    align-items: center;
    margin-top: 12px;
    &--item {
      width: 28px;
      height: 28px;
      border-radius: 16px;
      margin-right: 16px;
      background-color: #e9d8cb;
      cursor: pointer;
      &:nth-child(2) {
        background-color: var(--color-dark);
      }
      &:nth-child(3) {
        background-color: #e8e8e8;
      }
    }
  }
  ngb-rating {
    color: #f9c33c;
  }
}
