<div class="header">
    <div class="header__wrapper">
      <div class="header__user">
        <div class="header__user--media">
          <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?w=150&h=150&fit=crop&crop=face" />
          <i class="bi bi-patch-check-fill"></i>
        </div>
        <div class="header__user--info">
          <p>
            {{ profileUserData?.firstName | titlecase }}
            {{ profileUserData?.middleName | titlecase }}
            {{ profileUserData?.lastName | titlecase }}
          </p>
          <ng-container *ngFor="let email of emailDataList">
            <p>{{ email?.infoString }}</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  