<ng-container *ngIf="banner; else loading">
  <div class="banner">
    <!-- CASE 1::If Media Type is IMAGE -->
    <ng-container *ngIf="banner?.type === 'banner'">
      <img
        [ngSrc]="banner?.urls[0]"
        alt="BANNER"
        fill
        loading="eager"
        fetchpriority="high"
        placeholder="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN8/fb1JwAJRQO3NuvFDAAAAABJRU5ErkJggg==
          "
      />
    </ng-container>
    <!-- CASE 2::If Media Type is VIDEO -->
    <ng-container *ngIf="banner?.type === 'video'">
      <video
        #bannerVideo
        autoplay
        muted
        loop
        playsinline
        preload="auto"
        [src]="banner?.urls[0]"
      ></video>
    </ng-container>
    <!-- CASE 3::If Media Type is CAROUSEL -->
    <ng-container
      *ngIf="banner?.type === 'slider'"
      [ngTemplateOutlet]="carousel"
    ></ng-container>
    <div class="banner__info">
      <div class="banner__info--title">
        {{ banner?.title | titlecase }}
      </div>
      <div class="banner__info--subtitle">
        {{ banner?.description | titlecase }}
      </div>
      <div class="banner__info--action">
        <button class="btn btn-dark" (click)="goToBannerURL(banner)">
          Shop Now
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="banner">
    <div class="banner__info">
      <div class="banner__info--title"></div>
      <div class="banner__info--subtitle"></div>
      <div class="banner__info--action">
        <button class="btn btn-dark">Shop Now</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #carousel>
  <ngb-carousel class="carousel">
    <ng-template ngbSlide *ngFor="let slide of banner?.urls; index as i">
      <div class="carousel__img-wrapper">
        <img [src]="slide" alt="Banner Title" />
      </div>
    </ng-template>
  </ngb-carousel>
</ng-template>
