@import "../../assets/styles/variables.scss";

.banner {
  padding: 32px 0 0;
  display: flex;
  &__item {
    &--wrapper {
      padding: 0;
      position: relative;
      &.middle,
      &.last {
        padding-left: 16px;
        .banner__item--info {
          left: 24px;
          right: 8px;
          bottom: 8px;
          border-radius: 4px;
        }
      }
    }
    &--media {
      img {
        width: 100%;
        height: 560px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    &--info {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #eef4ff;
      padding: 32px;
      border-radius: 0 0 5px 5px;
      &.horizontal {
        display: flex;
        align-items: flex-end;
      }
      &-left {
      }
      &-right {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 160px;
        padding: 0 8px;
        span {
          font-size: 24px;
          padding-right: 8px;
        }
        img {
          width: 24px;
        }
      }
      &-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      &-description {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

.category {
  &__wrapper {
    margin-top: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -52px;
    // margin-bottom: 80px;
    &--info {
      max-width: 800px;
      width: 70%;
      &-title {
        font-size: 32px;
      }
      &-description {
        font-size: 16px;
        color: var(--color-text-secondary);
      }
    }
    &--search {
      &-wrapper {
        padding-left: 20px;
        width: 30%;
        max-width: 432px;
      }

      background: rgba(255, 255, 255, 0.15);
      border-bottom: 1px solid #808080;
      backdrop-filter: blur(2px);
      display: flex;
      align-items: center;
      padding: 4px 16px;
      img {
        width: 16px;
        height: 16px;
      }
      input {
        width: 100%;
        background-color: transparent;
        color: #808080;
        border-color: transparent;
        padding: 0 0 0 8px;
        &:active,
        &:focus,
        &:focus-visible,
        &:focus-within {
          outline: none;
          box-shadow: none;
        }
      }
      ::placeholder {
        font-weight: 400;
        color: #808080;
        opacity: 0.5; /* Firefox */
      }

      /* Internet Explorer 10-11 */
      :-ms-input-placeholder {
        font-weight: 400;
        color: #808080;
      }

      /* Microsoft Edge */
      ::-ms-input-placeholder {
        font-weight: 400;
        color: #808080;
      }
    }
  }
  &__list {
    gap: 20px;
    display: flex;
    overflow-x: scroll;
    &--title {
      margin-top: 40px;
      margin-bottom: 24px;
      font-size: 32px;
    }
  }
  &__item {
    width: 200px;
    min-width: 200px;
    height: 254px;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--color-brand-xlight);
    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
    &.first {
      background-color: var(--color-medium);
      color: $color-light;
      padding: 20px;
      min-width: 188px;
    }
    &--label {
      font-size: 24px;
    }
    &--action {
      display: flex;
      align-items: center;
      min-width: 144px;
      position: absolute;
      bottom: 20px;
      left: 20px;

      span {
        font-size: 18px;
        padding-right: 8px;
      }
      img {
        width: 20px;
      }
    }
    &--media {
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px 4px 0 0;
      }
    }
    &--title {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      background-color: var(--color-brand-light);
      border-radius: 0 0 4px 4px;
      span {
        padding: 16px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.category-pop {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 80px;
  &__item {
    display: flex;
    position: relative;
    min-width: calc(50% - 8px);
    &--info {
      width: 100%;
      height: 148px;
      padding: 20px;
      position: absolute;
      bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-title {
        font-size: 56px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
      }
      &-subtitle {
        font-size: 18px;
        margin-bottom: 16px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        -webkit-line-clamp: 8;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        word-wrap: break-word; /* Important for long words! */
      }
    }

    &--media {
      width: 100%;
      height: 400px;
      position: relative;
      z-index: -1;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        );
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.bestseller,
.top-picks {
  margin-top: 16px;
  display: flex;
  margin-top: 32px;
  display: flex;

  &--action {
    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--title {
      font-size: 34px;
    }
    &--action {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 144px;
      span {
        font-size: 20px;
        padding-right: 8px;
        color: #7423bc;
      }
      img {
        width: 20px;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;
    &--noData {
      margin-top: 30px;
      text-align: center;
    }
  }
  &__item {
    &--wrapper {
      padding: 12px;
    }
  }
  &__footer {
    &--action {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 144px;
      border: 1px solid var(--color-dark);
      border-radius: 4px;
      width: fit-content;
      margin: auto;
      padding: 12px 20px;
      margin-top: 32px;
      cursor: pointer;
      span {
        font-size: 18px;
        font-weight: 600;
        padding-right: 8px;
        color: var(--color-dark);
      }
      img {
        width: 20px;
      }
    }
  }
}

swiper-container {
  margin-left: 0;
  swiper-slide {
    min-width: 200px;
    max-height: 300px;
  }
}

@media (max-width: 991.98px) {
  .category-pop {
    &__item {
      &--info {
        &-title {
          font-size: 48px;
        }
        &-subtitle {
          font-size: 16px;
          margin-bottom: 16px;
          font-weight: 400;
        }
      }
      &--media {
        min-height: 260px;
        object-fit: cover;
      }
    }
  }
}
@media (max-width: 767.98px) {
  .category-pop {
    flex-direction: column;
    &__item {
      &--info {
        &-title {
          font-size: 48px;
        }
        &-subtitle {
          font-size: 16px;
          margin-bottom: 16px;
          font-weight: 400;
        }
      }
      &--media {
        min-height: 260px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .bestseller,
  .top-picks {
    &__item {
      &--wrapper {
        width: 100%;
      }
    }
  }
  .category {
    &__header {
      flex-direction: column;
      margin-top: -16px;
      &--info {
        width: 100%;
      }
      &--search-wrapper {
        width: 100%;
        padding-left: 0;
        padding-top: 16px;
      }
    }
    &__list {
      gap: 12px;
    }
    &__item {
      &.first {
        padding: 16px;
        font-size: 14px;
        min-width: 160px;
        margin-bottom: 16px;
      }
      &--label {
        font-size: 16px;
      }
      &-action {
        span {
          font-size: 16px;
        }
        img {
          width: 16px;
        }
      }
    }
  }

  .category-pop {
    flex-direction: column;
    &__item {
      &--info {
        &-title {
          font-size: 32px;
        }
      }
    }
  }

  swiper-container {
    padding-bottom: 16px;
    margin-left: 0;
    swiper-slide {
      max-height: 300px;
    }
  }
}

// BEGINS: Hero Styles
.hero {
  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: -32px;
    margin-bottom: 32px;
    border-radius: 4px;
    position: relative;
    &.blue {
      background: var(--gradient-banner);
      // background-color: #edf4ff;
    }
    &.grey {
      background: var(--gradient-banner-medium);
    }
    &.dark {
      background: var(--color-dark);
      .banner__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 60px;
        &--title {
          color: $color-light;
        }
        &--subtitle {
          color: #ececec;
        }
        &--description {
          color: #f4f4f4;
          text-align: center;
        }
        button {
          background-color: $color-light;
        }
      }
    }
  }
  &__info {
    width: 100%;
    padding: 20px 80px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    &--title {
      font-size: 36px;
      color: #fff;
    }
    &--subtitle {
      font-size: 16px;
      color: #f4f4f4;
    }
    &--description {
      font-size: 13px;
      padding: 0;
      color: #f4f4f4;
    }
    &--action {
      display: flex;
      align-items: center;
      min-width: 144px;
      button {
        padding: 10px 22px;
        background-color: var(--color-dark);
      }
      span {
        font-size: 24px;
        padding-right: 8px;
      }
      img {
        width: 24px;
      }
    }
  }
  &__media {
    width: 100%;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 0 4px 4px 0;
    }
  }
}

@media (max-width: 575.98px) {
  .hero {
    &__wrapper {
      flex-direction: column;
    }
    &__info {
      width: 100%;
      padding: 16px;
    }
    &__media {
      width: 100%;
    }
  }
}
// ENDS: Hero Styles

.sidebar {
  width: 20%;
  &--header {
    display: flex;
    align-items: center;
    &-icon {
      background: #808080;
      width: 32px;
      height: 32px;
      border-radius: 32px;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4.5px solid #ffffff;
      filter: drop-shadow(0px 0px 5.87227px rgba(0, 0, 0, 0.2));
      img {
        width: 20px;
        border-radius: 28px;
      }
    }
    &-title {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      padding-left: 8px;
    }
  }
  &--filter {
    &-grp {
      margin-bottom: 20px;
    }
    &-title {
      color: rgba(0, 0, 0, 0.8) !important;
      font-size: 20px;
      font-weight: 450;
    }
    &-header {
      display: flex;
      align-items: center;
      position: relative;
      color: var(--color-dark);
      background: #f1f5ff;
      border-radius: 10px;
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 12px;

      button {
        background: transparent !important;
        padding: 6px !important;
      }
      img {
        width: 20px;
        margin-right: 8px;
      }
    }
    &-item {
      padding: 8px 20px 0;
      input {
        margin-right: 8px;
      }
      label {
        font-size: 14px;
        color: var(--color-dark);
        font-weight: 400;
      }
    }
  }

  // Accordion overrides
  .accordion-button:not(.collapsed) {
    background-color: $color-light;
  }

  .accordion-body {
    padding-inline: 0;
  }

  .accordion-item {
    border: none;
  }

  .accordion-item:last-of-type .accordion-collapse {
    border: none;
  }
}

.bestSellerContentWrapper {
  width: 80%;
}

.dropdown-menu .active {
  background-color: var(--color-primary-action);
  color: white;
}
