<div class="container">
    <app-breadcrumb
      [inactiveElements]="[{ label: 'Home', redirectUrl: '' }]"
      [activeElement]="cmsDetails ? (cmsDetails[0]?.pageTitle | titlecase) : ''"
      (redirectUrl)="onRedirectToUrl($event)"
    ></app-breadcrumb>
  
    <div class="page-title__wrapper">
      <div class="page-title__heading">
        {{ cmsDetails ? (cmsDetails[0]?.pageTitle | titlecase) : "" }}
      </div>
      <div
        class="page-title__description"
        [innerHTML]="cmsDetails ? cmsDetails[0]?.pageContent : ''"
      >
      </div>
    </div>
  
    <div class="faqs__wrapper"></div>
  </div>
  

  