<!-- ==== DO NOT CHANGE THIS FILE:: FOR PREVIEW PURPOSE ONLY ==== -->
<!-- ==== This wont impact the live store, so ignore this file ==== -->
<app-header-top-strip *ngIf="showTopHeaderStrip"></app-header-top-strip>
<app-header *ngIf="showHeader"></app-header>
<app-header-categories *ngIf="showHeaderCategories"></app-header-categories>
<router-outlet />
<app-footer *ngIf="showFooter"></app-footer>
<app-footer-copyright-strip *ngIf="showCopyrightStrip"></app-footer-copyright-strip>
<!-- ==== DO NOT CHANGE THESE:: FOR PREVIEW PURPOSE ONLY ==== -->
