<div class="banner__item">
  <div class="banner__item--media">
    <img loading="lazy" fill [ngSrc]="banner?.url" alt="Banner Image" />
  </div>
  <div class="banner__item--info">
    <div class="banner__item--info-left">
      <div class="banner__item--info-title">
        {{ banner?.imageTitle || "Upto 50% Off" | titlecase }}
      </div>
      <div class="banner__item--info-description">
        {{
          banner?.imageDescription ||
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
            | titlecase
        }}
      </div>
    </div>
    <div
      class="banner__item--info-right c-pointer"
      (click)="goToBannerURL(banner)"
    >
      <button class="btn btn-dark">Shop Now</button>
    </div>
  </div>
</div>
