<div class="auth">
  <div class="auth__form--wrapper">
    <div class="auth__form--main">
      <div class="header__wrapper">
        <div class="header__brand" (click)="onRedirectToHome()">
          <img [src]="storeLogo" alt="Brand Logo" />
        </div>
      </div>

      <div class="auth__form">
        <form [formGroup]="resetFG">
          <div class="auth__form--title">Forgot Password</div>
          <div class="auth__form--input">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your registered email"
              formControlName="username"
            />
          </div>
          <!-- <div class="auth__form--input">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter your password"
                    formControlName="password"
                  />
                </div> -->
          <div class="auth__form--preference">
            <p>
              You will receive an email with a temporary password on your
              registered email.
            </p>
            <!-- <div>
                      <input type="checkbox" id="rememeber-me" />
                      <label for="rememeber-me">Remember me</label>
                    </div>
                    <div class="auth__form--link" [routerLink]="'/auth/forgot-password'">
                      Forgot Password
                    </div> -->
          </div>
          <div class="auth__form--action">
            <button class="btn btn-dark" (click)="onSendEmail()">
              Email Password
            </button>
          </div>
          <div class="auth__form--action-secondary">
            <a (click)="onRedirectToLogin()">Back to Login</a>
          </div>
        </form>
      </div>
    </div>
    <div class="auth__form--media">
      <img
        src="assets/images/login-illustration.jpg"
        alt="Login Illustration"
      />
    </div>
  </div>
</div>
